@import url('common.styles.css');

body,
html {
	font-family: sans-serif;
}

/*header*/
.navbar {
	padding: 0;
	height: 150px;
	justify-content: center;
}
.navbar-brand {
	padding: 0;
}

.header-title h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
}

.navbar-light .navbar-nav .nav-link {
	color: gray;
}

.nav-items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 7px;
}

.user-items {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
	outline: none;
}

.nav-item {
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
}

.nav-item a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.nav-item a:hover {
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.1);
}

/*contents*/
.contents {
	background: linear-gradient(-135deg, #c6ffdd, #fbd786, #f7797d);
	overflow: hidden;
	width: 100%;
	padding-top: 80px;
	min-height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

/* main contents */
main {
	align-items: center;
}

.text {
	padding: 0;
	margin: 15px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

textarea {
	box-sizing: border-box;
}

textarea::placeholder {
	font-size: 16px;
}

.icon {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}

.avatar-icon {
	display: none;
}

.comment {
	padding: 5px 10px;
	width: 340px;
	height: 150px;
	border-radius: 4px;
	outline: none;
	font-size: 20px;
	border: solid #c4ccc4 1px;
	box-sizing: border-box;
}

.msg {
	color: blue;
	font-size: 1.1rem;
}

.err-msg-container {
	margin: 0 auto;
	font-family: Quicksand;
	text-align: start;
	width: 90%;
}

.err-msg {
	padding-top: 10px;
	font-size: 14px;
}

.img-up {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.img-up input {
	padding: 0;
}

.img-up input {
	border-style: none;
}

.btn {
	width: 100%;
	margin-bottom: 10px;
}

.result {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
	/* text-align: start; */
	font-size: 16px;
}

.result span {
	font-weight: bold;
}

.comment-all {
	width: 340px;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	background-color: #fff;
	position: relative;
	font-size: 16px;
}

.user {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 12px;
	margin-bottom: 5px;
}

.user_icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.name {
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	text-decoration: none;
}

.date {
	font-size: 12px;
	padding-left: 14px;
	color: #747474;
}

.comment-text {
	border-bottom: solid 1px #c4ccc4;
	padding-left: 14px;
	padding-bottom: 5px;
	font-size: 20px;
}

.img-size {
	max-width: 300px;
	width: auto;
	height: auto;
	max-height: 370px;
	padding: 15px 0 30px 0;
	object-fit: cover;
	/* marfgin-bottom: 20px; */
}

/* Deelete Button */
.btn-del {
	cursor: pointer;
	font-size: 18px;
	position: absolute;
	right: 5px;
	bottom: 3px;
	border: none;
	width: 35px;
	height: 30px;
	background-color: transparent;
	color: red;
	border-radius: 4px;
	padding: 6px 0px;
	outline: none;
}

.btn-del:hover {
	opacity: 0.5;
}

.btn-del:active {
	-webkit-transform: translateY(4px);
	transform: translateY(3px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

/*page*/
.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 100px;
}

.fa-backward:before {
	margin-left: 5px;
}

.fa-forward:before {
	margin-left: 5px;
}

.page {
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.page:hover {
	opacity: 0.7;
	text-decoration: none;
	color: #fff;
	transform: scale(1.1);
}

@media (min-width: 768px) {
	.header-title h2 {
		font-size: 65px;
	}

	.navbar-expand-md .navbar-nav {
		flex-direction: column;
	}

	.navbar-light .navbar-nav .nav-link {
		color: white;
	}

	/* contents */
	.contents {
		padding-top: 20px;
	}

	.container {
		width: 80%;
	}

	.comment {
		width: 470px;
		height: 200px;
	}

	textarea::placeholder {
		padding-top: 5px;
		padding-left: 8px;
		font-size: 18px;
	}

	.img-up {
		margin: 0;
		padding-bottom: 15px;
	}

	.img-up input {
		padding: 0;
	}

	.err-msg-container {
		margin: 0;
		width: 80%;
	}

	.nav-items {
		display: flex;
		flex-direction: column;
		padding-top: 0;
	}

	.icon {
		display: none;
	}

	.avatar-icon {
		display: block;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		object-fit: cover;
	}

	.result {
		width: 80%;
		margin: 0;
		padding-bottom: 15px;
		font-size: 1.2rem;
	}

	.comment-all {
		width: 470px;
	}

	.name {
		font-size: 1.2rem;
	}

	.comment-text {
		font-size: 1.5rem;
	}

	.img-size {
		padding: 15px 0;
	}

	.btn-del {
		right: 5px;
		bottom: 10px;
	}
}

@media (min-width: 960px) {
	.comment {
		width: 550px;
		height: 200px;
	}

	.btn {
		padding: 0;
		margin-bottom: 20px;
	}

	.comment-all {
		width: 550px;
	}

	/* pagination */
	.page {
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.comment-all {
		margin-left: 0;
	}

	.nav-item {
		font-size: 18px;
	}
}
