@import url('common.styles.css');

body,
html {
	/*font-family: Quicksand;*/
	font-family: sans-serif;
}

/*header*/

.navbar {
	padding: 0;
	height: 150px;
}

.header-title h2 {
	font-family: 'Lobster', cursive;
	/* margin-left: -40px; */
	font-size: 50px;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-nav {
	padding-left: 10px;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
	outline: none;
}

.navbar-toggler-icon {
	margin-right: 20px;
}

.nav-item {
	font-weight: bold;
	font-size: 18px;
	font-family: sans-serif;
}

.nav-item a {
	text-decoration: none;
	cursor: pointer;
}

.nav-item a:hover {
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*contents*/
.contents {
	background: linear-gradient(-135deg, #c6ffdd, #fbd786, #f7797d);
	overflow: hidden;
	width: 100%;
	padding-top: 120px;
}

.container {
	/* width: 500px; */
	/* width: 600px; */
	width: 370px;
	display: flex;
	margin: 0 auto;
}

/* nav */
.nav {
	background-color: #fff;
	width: 250px;
	height: 420px;
	border-radius: 4px;
	margin: 11px 30px 0 0;
	display: none;
}

.nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.profile-title {
	font-size: 30px;
	/* background-color: yellow; */
	font-weight: bold;
	margin-top: 35px;
}

.icon-profile {
	width: 150px;
	max-height: 200px;
	height: auto;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 20px;
	transition: all 0.3s;
}

.icon-profile:hover {
	opacity: 0.7;
}

.nav-username > a {
	color: black;
	text-decoration: none;
	transition: all 0.3s;
	cursor: pointer;
}

.nav-username > a:hover {
	opacity: 0.7;
}

.nav-username span {
	font-size: 22px;
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

/* main contents */
main {
	width: 100%;
}

/* .text {
    padding: 0;
    width: 350px;
    margin: 0 auto;
} */

.icon {
	width: 70px;
	height: auto;
	max-height: 90px;
	border-radius: 50%;
	/* margin-top: 12px; */
}

.comment {
	margin: 15px auto;
	padding: 5px 15px;
	width: 340px;
	height: 150px;
	border-radius: 4px;
	border-color: #c4ccc4;
	outline: none;
	font-size: 20px;
	text-align: left;
}

.comment::placeholder {
	padding-top: 5px;
	padding-left: 15px;
}

.msg {
	color: blue;
	font-size: 1.1rem;
}

.err-msg {
	margin-top: -40px;
	margin-bottom: 30px;
	font-size: 1.1rem;
}

.fa-images {
	color: blue;
	font-weight: bold;
	/* display: block; */
}

.img-up {
	/* float: left; */
	margin-bottom: 10px;
}

.btn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.comment-all {
	width: 340px;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	/* padding-left: 12px; */
	background-color: #fff;
	position: relative;
	font-size: 16px;
}

.name {
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	padding-left: 12px;
	text-decoration: none;
}

.date {
	font-size: 12px;
	padding-left: 10px;
	color: #747474;
}

.comment-text {
	border-bottom: solid 1px #c4ccc4;
	padding-left: 14px;
	padding-bottom: 5px;
	font-size: 20px;
	/*position: relative;*/
}

.img-size {
	max-width: 300px;
	width: auto;
	max-height: 370px;
	height: auto;
	padding: 15px 0;
	/*float: left;*/
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
}

.btn-del {
	cursor: pointer;
	font-size: 15px;
	/* margin-right: 20px;
    margin-bottom: 10px; */
	margin: 10px 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: none;
	/* font-size: 1.1em; */
	width: 45px;
	background-color: red;
	color: #fff;
	/* border-radius: 50%; */
	border-radius: 4px;
	padding: 6px 0px;
	outline: none;
}

.btn-del:hover {
	opacity: 0.5;
}

.btn-del:active {
	-webkit-transform: translateY(4px);
	transform: translateY(3px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

/*page*/
.pasination {
	display: flex;
	margin-top: 20px;
	margin-bottom: 100px;
}

.fa-backward:before {
	margin-left: 5px;
	margin-right: 10px;
}

.fa-forward:before {
	margin-left: 5px;
}

.page {
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	/* transition: all 0.3s; */
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.page:hover {
	opacity: 0.7;
	text-decoration: none;
	color: #fff;
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.header-title h2 {
		font-size: 65px;
	}

	.navbar-expand-md .navbar-nav {
		/* -ms-flex-direction: row; */
		flex-direction: column;
	}

	.nav-item a {
		display: inline-block;
		transition: all 0.3s ease 0s;
	}

	.nav-item a:hover {
		transform: scale(1.2);
	}

	/* contents */
	.contents {
		padding-top: 50px;
	}

	.container {
		width: 700px;
		padding: 0px;
	}

	.comment {
		width: 470px;
		height: 200px;
		margin: 30px 10px;
	}

	.nav {
		display: block;
	}

	.result {
		font-size: 1.2rem;
	}

	.comment-all {
		width: 470px;
		/* font-size: 1.2rem; */
	}

	.name {
		font-size: 1.2rem;
	}

	.comment-text {
		font-size: 1.5rem;
	}
}

@media (min-width: 960px) {
	.container {
		width: 960px;
	}

	.nav {
		width: 300px;
		height: 500px;
	}

	.icon-profile {
		width: 200px;
		max-height: 250px;
	}

	.nav-username > a {
		font-size: 1.2rem;
	}

	.comment {
		width: 550px;
		height: 200px;
		margin: 30px 10px;
	}

	.btn {
		width: 550px;
		padding: 0;
	}

	.comment-all {
		width: 550px;
	}
}

@media (min-width: 992px) {
	.comment-all {
		margin-left: 0;
	}
}
