@import url('common.styles.css');

/*contents*/
.contents {
	background-image: url('../img/beach.jpeg');
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 80px;
	overflow: hidden;
}

.container {
	width: 90%;
	height: auto;
	background: linear-gradient(-135deg, #c6ffdd, #fbd786, #f7797d);
	padding: 40px 0 30px 0;
	text-align: center;
	border-radius: 4px;
}

.contents h3 {
	font-size: 30px;
	text-align: center;
}

.icon {
	display: flex;
	justify-content: center;
}

.user-icon {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border-radius: 50%;
	margin: 20px 0;
}

.user {
	font-weight: bold;
	font-size: 18px;
	width: 100%;
}

.user label {
	text-align: left;
}

.user:last-child {
	padding-top: 10px;
	width: 280px;
}

.user_info {
	font-family: Quicksand;
	width: 280px;
	margin: 0;
}

.err-msg-container {
	margin: 0 auto;
	width: 280px;
}

.err-msg {
	font-size: 14px;
	text-align: left;
	margin-bottom: 0;
}

.img {
	font-size: 14px;
	width: 270px;
	border-style: none;
}

.btn {
	width: 90%;
	margin-top: 15px;
}

.success-msg {
	font-size: 22px;
	color: #ff5f6d;
	background: -webkit-linear-gradient(0deg, #ff5f6d, #ffc371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin-top: 10px;
	display: block;
	text-align: center;
}

/* Deelete Button */
.delete_btn {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.btn-del {
	cursor: pointer;
	font-size: 18px;
	border: none;
	background-color: transparent;
	color: white;
	opacity: 0.9;
	border-radius: 4px;
	padding: 6px 0px;
	outline: none;
}

.btn-del:hover {
	opacity: 0.5;
}

.btn-del:active {
	-webkit-transform: translateY(4px);
	transform: translateY(3px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

@media (min-width: 768px) {
	.contents {
		padding-bottom: 120px;
	}

	.container {
		width: 70%;
		height: auto;
		padding: 60px 0 50px 0;
	}

	.contents h3 {
		font-size: 3rem;
	}

	.user-icon {
		width: 150px;
		height: 150px;
		margin: 20px 0;
	}

	.user {
		width: 100%;
		font-size: 2rem;
	}

	.user:last-child {
		padding-top: 10px;
		width: 450px;
	}

	.user_info {
		font-family: Quicksand;
		width: 450px;
		outline-color: #1c74fc;
	}

	.err-msg-container {
		width: 450px;
	}

	.img {
		font-size: 1.2rem;
		width: 450px;
	}

	.btn {
		width: 90%;
	}

	.add {
		font-size: 1.2rem;
	}
}

@media (min-width: 960px) {
	.container {
		width: 55%;
	}

	.btn {
		width: 80%;
	}
}
