<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 存在しないファイルやフォルダの場合は index.php にルーティング
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
