* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background-color: #F8EC0B;
  }

.container {
    margin: 30px auto;
    width: 500px;
    text-align: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
    margin: 20px;
}

table{
    height: 500px;
    background-color: #fff;
}

table,td {
    border: solid 1px black;
    font-size: 70px;
    width: 500px;
}

.button {
    display: flex;
    padding-top: 5px;
    /* margin: 10px; */
}

#start,#stop, #reset  {
    flex: 1;
    padding: 8px;
}

#start div,#stop div, #reset div  {
    padding: 0 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    height: 35px;
    line-height: 35px;
    font-family: 'Gugi', cursive; 
    font-size: 24px;
}

#start div:active {
    box-shadow: none;
    position: relative;
    top: 6px;
}

#stop div:active {
    box-shadow: none;
    position: relative;
    top: 6px;
}

#reset div:active {
    box-shadow: none;
    position: relative;
    top: 6px;
}
#start div:not(.disabled),#stop div:not(.disabled), #reset div:not(.disabled) {
    background-color: #ef454a;
    box-shadow: 0 4px 0 #d1483e;
    border: 1px solid #ef454a;
}

.disabled {
    background-color: #F4CCCC;
    box-shadow: 0 4px 0 #FCB9B8;
}

